@mixin font($fz, $c, $fw: inherit, $ff: inherit, $lh: inherit, $fs: inherit) {
    font-family: $ff;
    font-weight: $fw;
    line-height: $lh;
    font-style: $fs;
    font-size: $fz;
    color: $c;
}

@mixin tr {
    transition: all .4s ease-in;
}

@mixin hover {
    @include tr();
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}


@mixin pCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Миксины для адаптации

@mixin desktop {
    @media screen and (max-width: 1200px) {
         @content;
    }
}

@mixin laptop {
    @media screen and (max-width: $laptop) {
      @content;
    }
  }
  
 @mixin tablets {
     @media screen and (max-width: $tablets) {
      @content;
    }
  }
  
 @mixin phones {
    @media screen and (max-width: $phones) {
      @content;
    }
  }

// Псевдоэлемент
 @mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
  }


// Стиль всех кнопок

@mixin btns { 
    position: relative;
    display: block;
    background: none center center no-repeat;
    background-size: cover;
    border: $b-size solid $color-btn;
    opacity: .8;
     @include font(1.4rem, $color-btn, 400, $btn-ff, 1.2);
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 15px 10px;
    text-align: center;
    width: 19rem;
    min-width: 19rem;
     margin-bottom: 6rem;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
    transition: border 2s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 5s cubic-bezier(0.19,1,.22,1);
    .mask {
        position: absolute;
        display: block;
        background: #fff;
        background: rgba(255,255,255,0.5);
        width: 200px;
        height: 100px;
        transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
        transition: all 2s cubic-bezier(0.19,1,.22,1);
    }
    &:hover {
      border-color: $text-data;
        color: $text-light;
        background-color: $text-data;
      box-shadow: 2px 2px 5px rgba(19, 18, 18, 0.8);
    }
    &:hover .mask {
      background: $text-light;
      opacity: .8;
     transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
  }
}

//  Линии перед заголовком
@mixin line {
  @include pseudo;
  width: 10rem;
  height: 2px;
  top: 10rem;
  left: calc(100% / 2 - 5rem);
  opacity: .6;
  @include tablets {
    width: 7rem;
    left: calc(100% / 2 - 3.5rem);
  }
 }
	
// Миксины для заголовков и шрифтов
@mixin title1 {
    @include font(8rem, $text-light, 700, $text-ff, 1.2);
    margin: 0 3rem;
    max-width: 1100px;
    max-height: 28.8rem;
    overflow: hidden;
    letter-spacing: 10px;
    text-transform: uppercase;
    white-space: normal;
    @include laptop {
      font-size: 6.5rem;
      letter-spacing: 5px;
      max-width: 900px;
      max-height: 14.7rem;
    }
    @include tablets {
      font-size: 4.5rem;
      letter-spacing: 2px;
      max-width: 700px;
      max-height: 16.2rem;
    }
    @include phones {
      font-size: 3.5rem;
      max-width: 400px;
      max-height: 12.6rem;
   }
}

@mixin title2 {
  @include font(4.4rem, $text-dark, 700, $text-ff, 1.2);
  text-transform: uppercase;
  @include laptop {
    font-size: 3.2rem;
  }
  @include tablets {
    font-size: 2.8rem;
  }
  @include phones {
    font-size: 2.4rem;
}
 
}

@mixin title3 {
  @include font(2.2rem, $text-dark, 400, $btn-ff, 1.2);
   text-transform: uppercase;
   @include laptop {
    font-size: 1.8rem;
  }
  @include tablets {
    font-size: 1.8rem;
  }
  @include phones {
    font-size: 1.8rem;
}
}

@mixin subTitle-light {
   @include font(1.8rem, $text-light, 400, $btn-ff, 1.4);
   max-width: 1100px;
   @include tablets {
     font-size: 1.6rem;
   }
}

@mixin subTitle-dark {
    @include font(1.8rem, $text-dark, 400, $btn-ff, 1.4);
    max-width: 1100px;
    @include tablets {
      font-size: 1.6rem;
    }
}

@mixin parag {
  @include font(1.8rem, $text-dark, 400, $parag-ff, 1.3);
  max-width: 1100px;
  @include tablets {
    font-size: 1.6rem;
  }
}

@mixin location {
  @include font(1.8rem, $text-dark, 400, $parag-ff, 1.4);
  font-style: italic;
  @include tablets {
    font-size: 1.6rem;
  }
}

