@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap');

$text-dark: #2c4058;
$text-light: #ffffff;
$text-p: #6f7781;
$text-data: #55b7ff;

// толщина границы
$b-size: 2px;



$btn-ff: 'Gotham Book';
$text-ff: 'Gotham';
$parag-ff: 'Open Sans', sans-serif;

$big_width: 100%; 			//Slider width - large display
$big_height: 120vh; 		//Slider height - large display
// $big_nav_width: 12%;	// Previous and Next width - large display

$small_width: 100%; 	//Slider width - small display
$small_height: 100%; 	//Slider height - small display
// $small_nav_width: 15%;// Previous and Next width - small display

$box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
$brown: #795548;
$blue: #2196F3;
$green: #4CAF50;
$magenta: #F44336;
$nav_color: transparent;

$cyan: #0fe0f5;
$dark: #222;
$borderW: 6px;

