@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap');

$text-dark: #2c4058;
$text-light: #ffffff;
$text-p: #6f7781;
$text-data: #55b7ff;
$color-btn: #48596e;

// толщина границы
$b-size: 2px;

$laptop: 1000px;
$tablets: 800px;
$phones: 500px;



$btn-ff: 'Gotham Book';
$text-ff: 'Gotham';
$parag-ff: 'Open Sans', sans-serif;
$maps: 'Roboto';

$big_width: 100%; 			//Slider width - large display
$big_height: 120vh; 		//Slider height - large display

$small_width: 100%; 	//Slider width - small display
$small_height: 100%; 	//Slider height - small display

