@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto&display=swap');

@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'slider';
@import 'socials';


@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham Medium Regular/gotham-medium-webfont.woff2') format('woff2'),
	     url('../fonts/Gotham Medium Regular/gotham-medium-webfont.woff') format('woff'),
	     url('../fonts/Gotham Medium Regular/Gotham Medium Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gothambold/gothambold1.woff') format('woff'),
	     url('../fonts/gothambold/gothambold1.ttf') format('truetype'),
	     url('../fonts/gothambold/gothambold1.eot') format('eot');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('../fonts/GothamBook/GothamBook.woff') format('woff'),
	     url('../fonts/GothamBook/GothamBook.eot') format('eot'),
	     url('../fonts/GothamBook/GothamBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, button {
    transition: all .4s ease-in;
    cursor: pointer;
    text-decoration: none;
  
}
html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    @include font(1.4rem, $text-dark, 400, $text-ff, 1.3);
}


.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

h1 {
    @include title1;
}

h2 {
    @include title2;
}

h3 {
    @include title3;
}



.section {
    text-align: center;
    padding: 10rem 0;
    @include tablets {
        padding: 7rem 0;
        @include phones {
            padding: 5rem 0;
        }
    }
    &:first-child  {
        height: 100vh;
        overflow: hidden;
        position: relative;
        padding: 0;
    }
}

// header

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.hamburger-menu {
    display: none;
    @include laptop {
        display: block;
    }
}


nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: center;
    align-items: center;
    padding: 5.5rem 1.5rem;
    @include tablets {
        flex-direction: column;
        align-items: flex-start;
    }
    @include phones {
        padding: 5.5rem 0; 
    }
}


.menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    flex-basis: 50%;
    text-align: center;
    @include laptop {
        display: none;
    }
    &__item {
        display: inline-block;
        font-size: 1.4rem;
        text-align: center;
        white-space: nowrap;
        position: relative;
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        text-align: center;
        border: $b-size solid transparent;
        line-height: 1;
        position: relative;
        transition: all 0.6s;
        @include font(1.4rem, $text-light, 400, $btn-ff, 1.5);
        opacity: .8;
        position: relative;
        transition: all 0.6s;
        &::before {
            content: '◯';
            margin-right: 1rem;
            color: $text-light;
            border-radius: 50%;
       }
        &::after {
               content: "";
                background-color: white;
                display: block;
                height: 3px;
                margin-top: .5rem;
                width: 0%;
                transition: width .3s ease-in-out;
            }
        @include hover {
            color: $text-light;
            font-weight: 700;
            opacity: 1;
            @include hover;
        }
    }
}

.menu__link:hover:before {
    @include hover;
    background-color: white;
    border-radius: 50%;
}

.menu__link:hover:after,
.menu__link:focus:after {
    width: 80%;
    transform: translate(33%, 0);
}



// section What wy do

.section-whatWeDo {
    position: relative;
    &::before {
            @include line;
            background-color: $text-dark;
            @include tablets {
                top: 7rem;
            }
        }
    }
    h2 {
        &:first-child {
            margin-top: 4rem;
        }
    }

.wrap {
    display: flex;
    margin: 17rem 0 4rem;
    flex-direction: column;
    @include phones {
        margin: 10rem 0 4rem;
    }
}

.infoBlock {
    display: flex;
    @include tablets {
        flex-direction: column;
    }
    &:nth-child(1) {
        margin-bottom: 21rem;
        @include tablets {
            margin-bottom: 10rem;
        }
        picture {
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=317, Color=#55B7FF)";/*IE 8*/
            -moz-box-shadow: -216px -70px 0 #55B7FF;/*FF 3.5+*/
            -webkit-box-shadow: -216px -70px 0 #55B7FF;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
            box-shadow: -216px -70px 0 #55B7FF;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
            filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#55B7FF); /*IE 5.5-7*/
            @include laptop {
                box-shadow: -186px -50px 0 #55B7FF;
              
            }
            @include tablets {
                width: 70%;
                left: 0;
                box-shadow: 156px -50px 0 #55B7FF;
            }
            @include phones {
                box-shadow: 126px -70px 0 #7E5AFF;
             
           }
        }
    }
    &:nth-child(2) {
        flex-direction: row-reverse;
        @include tablets {
            flex-direction: column;
        }
        picture {
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=223, Color=#7E5AFF)";/*IE 8*/
            -moz-box-shadow: 216px -70px 0 #7E5AFF;/*FF 3.5+*/
            -webkit-box-shadow: 216px -70px 0 #7E5AFF;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
            box-shadow: 216px -70px 0 #7E5AFF;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
            filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#7E5AFF); /*IE 5.5-7*/
            @include laptop {
                box-shadow: -186px -50px 0 #7E5AFF;
              
            }
            @include tablets {
                width: 70%;
               left: 0;
                box-shadow: 156px -50px 0 #7E5AFF;
            }
            @include phones {
                 box-shadow: 126px -70px 0 #7E5AFF;
              
            }
        }
    }
    &__img {
        flex: 1 1 53.5%;
        width: 100%;
        height: auto;
        img {
            width: 100%;
            object-fit: cover;
            min-width: 100%;
            min-height: 100%;
        }
    }
    &__text {
        flex: 1 1 46.5%;
        text-align: left;
        &--right {
            padding: 5rem 0 5rem 6.5rem;
            @include tablets {
                padding: 5rem 6.5rem 5rem 0;
            }
            @include phones {
                padding: 5rem 0;
            }
        }
        &--left {
            padding: 5rem 6.5rem 5rem 0;
            @include tablets {
                padding: 5rem 6.5rem 5rem 0;
            }
            @include phones {
                padding: 5rem 0;
            }
        }
        p {
            @include parag;
            padding: 4rem 0;

        }
        .btn {
            @include btns;
        }
    }
}

.coordinat  {
    display: inline-block;
    text-align: center;
    padding: 3px;
    @include location;
    &:hover  {
        @include hover {
            color: $text-data;
        }
    }
    i {
        font-size: 18px;
        color: $text-dark;
        margin-right: 1rem;
    }
}

.coordinat:hover i {
    color: $text-data;
}


// Section latest
        
.section-latest {
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .container {
       padding: 10rem 1.5rem 13rem;
    }
    h2 {
        color: $text-light;
        font-weight: 500;
        &::before {
            @include line;
            background-color: $text-light;
         }
     }
}    

   
.flex {
    display: flex;
    padding-top: 9rem;
    &__item {
        width: 37rem;
        max-width: 37rem;
        margin: 1.5rem;
        .post {
            position: relative;
            height: 51.5rem;
            background-color: $text-light;
            &:hover,
            &:focus,
            &:active {
            box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, .5);
            }
            &__link {
                display: block;
                width: 100%;
                height: 100%;
                padding: 2rem;
                color: $text-dark;
                text-align: start;
                p {
                    @include parag;
                    margin: 1rem 0;
                    max-height: 11.8rem;
                    overflow: hidden;
                    letter-spacing: normal;
                }
            }
            &__img-wrap {
                 position: relative;
                 height: 47.5%;
                 overflow: hidden;
                 font-size: 0;
                 margin: -2rem -2rem 2rem -2rem;
            }
            &__img {
                @include pCenter;
                min-width: 100%;
                min-height: 100%;
            }
            &__title {
                @include font(2.2rem, $text-dark, 700, $text-ff, 1.3);
                text-transform: uppercase;
                padding: 1rem 0;
                max-height: 10.6rem;
                overflow: hidden;
                @include phones {
                    font-size: 1.8rem;
                }
            }
            &__author-link {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 3rem 2rem;
                display: flex;
                align-items: center;
                img {
                    display: block;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 2rem;
                }
                .author {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    &__name {
                        display: block;
                        @include subTitle-dark;
                        text-transform: uppercase;
                        margin-bottom: .5rem;
                    }
                    &__date {
                        @include font(1.4rem, $text-data, 500, $btn-ff, 1.3);
                    }
                }
            }
        }
    }
    
}

.post__link:hover img {
    transform: translate(-50%, -50%) scale(1.1);
    @include hover;
}
.post__author-link:hover img {
    transform: scale(1.1);
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, .5);
    @include hover;
}





// Section Gallery

.section-gallery {
    position: relative;
    padding: 14rem 0;
    @include tablets {
        padding: 7rem 0;
    }
    h2 {
        font-weight: 500;
        &::before {
            @include line;
            background-color: $text-dark;
            z-index: 3;
            top: 14rem;
            @include tablets {
                top: 8rem;
            }
        }
    }
    .btn {
        @include btns;
        margin: 0 auto;
    }
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24.56% 1fr 24.56% 1fr 1rem 1fr 24.56% 1fr 1rem 1fr 24.56%;
    grid-template-columns: 2fr repeat(autofit, minmax(1fr));
    -ms-grid-rows: 1fr 1rem 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin: 9rem 0 6rem;
    @include tablets {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:  2fr repeat(2, 1fr);
    }
    @include phones {
        grid-template-rows: repeat(5, 1fr);
        // grid-template-columns: 1fr 1fr;
    }
     &__item {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        &:hover,
        &:focus,
        &:active {
            box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .5);
        }
        &--big {
          -ms-grid-row: 1;
          -ms-grid-row-span: 3;
          -ms-grid-column: 1;
          -ms-grid-column-span: 4;
           grid-column-start: 1;
           grid-column-end: 2;
           grid-row-start: 1;
           grid-row-end: 3;
           @include tablets {
              grid-column-start: 1;
              grid-column-end: 5;
              grid-row-start: 1;
              grid-row-end: 2;
           }
           @include phones {
               grid-column-start: 1;
               grid-column-end: 5;
               grid-row-start: 1;
               grid-row-end: 2;
           }
        }
        &--smoll {
            &:nth-last-of-type(1) {
            -ms-grid-row: 3;
            -ms-grid-row-span: 1; 
            -ms-grid-column: 11;
            -ms-grid-column-span: 2;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            @include tablets {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            @include phones {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            }
            &:nth-last-of-type(2) {
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                -ms-grid-column: 11;
                -ms-grid-column-span: 2;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                @include tablets {
                    grid-column-start: 3;
                    grid-column-end: 5;
                    grid-row-start: 2;
                    grid-row-end: 3; 
                } 
                @include phones {
                    grid-column-start: 1;
                    grid-column-end: 5;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
            }
            &:nth-last-of-type(3) {
                -ms-grid-row: 3;
                -ms-grid-row-span: 1;
                -ms-grid-column: 7;
                -ms-grid-column-span: 2;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                @include tablets {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
                @include phones {
                    grid-column-start: 1;
                    grid-column-end: 5;
                    grid-row-start: 4;
                    grid-row-end: 5;
                }
            }
             &:nth-last-of-type(4) {
                -ms-grid-row: 1;
                -ms-grid-row-span: 1;
                -ms-grid-column: 7;
                -ms-grid-column-span: 2;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                @include tablets {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
                @include phones {
                    grid-column-start: 1;
                    grid-column-end: 5;
                    grid-row-start: 5;
                    grid-row-end: 6;
                }
            }
        
        }
        .count {
            @include pCenter;
            z-index: 2;
            height: 8rem;
            width: 8rem;
            max-width: 8rem;
            max-height: 8rem;
            opacity: 0;
        }
        
    }
    &__img {
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        &:hover,
        &:focus,
        &:active {
            box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, .5);
            transform: scale(1.01);
        }
    }
}


.grid__item:hover img,
.grid__item:focus img,
.grid__item:active img {
        @include hover;
    }

.grid__item:hover .count,
.grid__item:focus .count,
.grid__item:active .count {
   opacity: 1;
   transform: translate(-50%, -50%) rotate(360deg) scale(1.2);
}



// Section Map

.section-maps {
    padding: 0;
}

#map {
    width: 100%;
    height: 70rem;
}


#content {
     width: 300px;
     height: 160px;
     cursor: pointer;
     padding: 10px;
}

#siteNotice {
    @include font(1.8rem, $text-dark, 500, $text-ff, 1.1); 
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

#bodyContent {
    @include font(1.4rem, $text-dark,300, $text-ff, 1.2); 
    text-align: left;
    p {
        margin: 6px;
        @include font(1.4rem, $text-dark,400, $text-ff, 1.2); 
        &:nth-last-of-type(1) {
            margin-top: 15px;
            span {
                @include font(1.6rem, $text-dark,700, $text-ff, 1.2); 
            }
            a {
                text-decoration: underline;
            }
        }
    }
}


//  Section contact

.contacted {
    position: absolute;
    width: 77rem;
    max-width: 94%;
    padding-top: 6rem;
    margin: 0 auto;
    background-color: $text-light;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -122%);
    .container {
       position: relative;
    }
    h2  {
        font-weight: 500;
        margin-top: 2rem;
        text-align: center;
        &::before {
            @include line;
            top: 6rem;
            background-color: $text-dark;
            z-index: 3;
        }
    }
} 

.wrapper {
    display: flex;
    padding: 1rem 4.5rem 6rem ;
    justify-content: space-between;
    @include tablets {
        padding: 1rem 2.5rem 6rem ;
    }
    @include phones {
        flex-direction: column-reverse;
        padding: 1rem 6rem;
    }
}

.contact {
    flex-basis: calc(50% - 2rem);
    text-align: left;
    @include phones {
        padding-bottom: 5rem;
    }
    &__link {
        display: flex;
        padding: 2rem 0;
        text-decoration: none;
        align-items: center;
        text-align: center;
        @include font(1.8rem, $text-dark, 400, $btn-ff, 1.2);
        @include tablets {
            font-size: 1.4rem;
        }
        @include phones {
            padding: 1rem 0;
            margin: 0 auto;
            justify-content: start;
        }
        i {
            color: #7e5aff;
            font-family: FontAwesome;
            margin-right: 1rem;
            font-size: 2rem;
        }
    }
}

.form {
    flex-basis: 50%;
    flex-basis: calc(50% - 2rem);
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    input[type="text"],
    input[type="email"] {
        border: none;
        border-bottom: $b-size solid rgba(111, 119, 129, .4);
        outline: none;
        width: 100%;
        height: 6rem;
        margin-top: 2rem;
    }
    input[type="text"] {
        margin-top: 0;
    }
   .btn{
       @include btns;
        margin: 4rem 0 0;
        align-self: flex-end;
        width: 14rem;
        min-width: 14rem;
        @include phones {
            margin: 4rem auto;
        }
    }
}

[placeholder] {
    @include font(1.8rem, $text-dark, 400, $btn-ff, 1.2);
    padding: 2rem 0;
    @include tablets {
        font-size: 1.4rem;
    }
}

.contact__link:hover span,
.contact__link:focus span,
.contact__link:active span {
    color: #8b6aff;
}

.contact__link:hover i,
.contact__link:focus i,
.contact__link:active i {
    transform: scale(1.1);
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:active,
input[type="email"]:active {
   border-bottom: $b-size solid rgba(111, 119, 129, .9);
}


// Footer 

footer {
    position: relative;
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center top;
        .container {
           padding: 20rem 1.5rem; 
           width: 77rem;
           max-width: 93%;
           @include tablets{
              padding: 20rem 1.5rem 15rem; 
           }
    }
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 4rem;
    @include phones {
        flex-direction: column;
    }
    .socials {
        display: block;
        margin-top: 2.5rem;
    }
}

.copy {
    @include font(1.4rem, $text-light, 400, $btn-ff, 1.2);
    margin: 0 auto;
    @include phones  {
        text-align: center;
    }
}

.made {
    display: inline-block;
    margin-left: 2rem;
    position: relative;
    @include phones {
        margin-left: 0;
    }
    &::before {
       content: '';
       position: absolute;
        top: 0;
        left: -2rem;
        display: block;
        margin-right: 2rem;
        width: 2px;
        height: 16px;
        background-color: $text-light;
        @include phones {
            display: none;
        }
    }
}

.copyright {
    margin-right: 2rem;
    display: inline-block;
    @include phones {
        margin-bottom: 1.5rem;
    }
}


// Menu burger



#menu__toggle {
    opacity: 0;
  }
  
.menu__btn {
    display: flex; 
    align-items: center;  
    position: fixed;
    top: 6rem;
    right: 8rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    z-index: 10;
    @include phones {
        right: 2rem;
    }
  }
 
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $text-light;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  }
  .menu__btn > span::before {
    content: '';
    top: -12px;
  }
  .menu__btn > span::after {
    content: '';
    top: 12px;
  }

 
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 15rem 0;
    list-style: none;
    text-align: center;
    background-color: rgba(58, 55, 55, 0.7);
    box-shadow: 1px 2px 6px rgba(0, 0, 0, .2);
  }
 
  .menu__list {
    display: block;
    padding: 2rem 2.4rem;
    @include title2;
    color: $text-light;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    @include phones {
        font-size: 1.8rem;
        font-weight: 500;
    }
  }
  .menu__list:hover {
    background-color: rgba(176, 176, 251, .7);
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__list {
  transition-duration: .25s;
}

.menu-opened .menu__box {
    visibility: visible;
    right: 0;
    @include hover;
}

.menu-opened .menu__btn > span {
    transform: rotate(45deg);
}
.menu-opened .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
.menu-opened .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}















